# #Datacleaningchallenge
#### By Akintola Malik Olasubomi
#### Date : 10th March 2023

**Table of Contents**
- [Introduction](#intro)
- [Gathering and Importing](#step1)
- [Data Assessment](#step2)
- [Observations](#obs)
- [Data Cleaning](#step3)
- [Exploratory Data Analysis](#step4)
- [Conclusions](#conc)
- [References](#ref)

<a id='intro'></a>
## INTRODUCTION

In this project, I will be cleaning a very messy data and also try to perform some analysis on it. The dataset is on the list of all fifa rated players from the year 1998 to 2023. The data contains **18,979 Records** and **77 Columns**. Details on some of the columns are given below;

- `ID`: Players unique Identity number.
- `Height`: Players height
- `Weight`: Players weight in lbs
- `Foot`: Players strong foot
- `BOV`: Best Overall: Ability of player to hold the comfortably to his feet by percentage rating.
- `BP`: Ball position: position at which a player possess the ball the most. 
- `Photo_url`: link to the picture of the player's picture.
- `LongName`: Players name. Some are in full and some are short. work on it. 
- `Playerurl`: Link to players site.
- `Nationality`: Player's country of origin.
- `Position`: The wing or position the player has ever played. Be careful while working on this column
- `Name`: Another column for the name of the player. Notice the some name contains an irregular character. Work on it .
- `Age`: Players age. Check the datatype of this column
- `OVA`: Players overall analysis or rate in percentage
- `POT`: Players potential in percentage
- `Team and Contract`: This column is completely empty so you can drop it!
- `Growth`: improvement in the game attribute
- `Joined`: Date at which player started National team
- `Value`: players worth in Dollars.
- `Wage`: weekly salary in Dollars 
- `Release clause`: This is the amount in players contract required for the player to leave to another club, also in dollars.
- `FK` : Free Kick
- `GK`: Goal Keeper 
- `SM`: Skill Moves rating
- `A/W`: Attacking work rate 
- `D/W`: Defensive work rate
- `W/F`: W/F" refers to a player's weak foot rating. It is a measure of how well a player can use their non-dominant foot to pass, shoot or dribble. The rating is given on a scale of 1 to 5
- `IR`: Injury rating also given on a scale of 1 to 5 
- `PAS`: Pass accuracy given on a 100 rating
- `SHO`: Shooting Attribute.
- `PAC`: Pace 

I will be making use of python and excel for my programmatic assessment and visual assessment respectively.

In [13]:
# Importing all necessary packages
from zipfile import ZipFile
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

<a id='step1'></a>
## Gathering and Importing

The data is given in a zipped folder called "archive.zip" , so I will be making use of the *Zipfile* module to extract the files to the current working directory

In [8]:
# loading the archive.zip and creating a zip object
with ZipFile("C:\\Users\\malik\\Documents\\Data\\#DataCleaningChallenge\\archive.zip", 'r') as zObject:
    # Extracting all the members of the zip 
    zObject.extractall()

In [12]:
# Gets and prints the list of all files and directories
print(os.listdir())

['#DataCleaningChallenge FIFA Dataset Dictionary.pptx', '.ipynb_checkpoints', 'archive.zip', 'datachallengemeetingslide.pptx', 'fifa21 raw data v2.csv', 'fifa21_raw_data.csv', 'Untitled.ipynb', '~$#DataCleaningChallenge FIFA Dataset Dictionary.pptx']

The file of interest is the "fifa21 raw data v2.csv" file.
Now, I will read the data into a pandas dataframe object named **fifa_df**.

In [14]:
# Reading the data into a datafraame
fifa_df = pd.read_csv('fifa21 raw data v2.csv')

C:\Users\malik\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (76) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<a id = 'step2'></a>
## Data Assessment

In [15]:
# Checking the first five records
fifa_df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [16]:
# The how many rows and columns are present in the data
fifa_df.shape

(18979, 77)

This gives 18,979 records and 77 attributes as mentioned earlier.

In [18]:
#checking the info on each column
fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [21]:
# checking the statistics of the quantitative columns
fifa_df.describe()

,ID,Age,↓OVA,POT,BOV,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,...,GK Positioning,GK Reflexes,Total Stats,Base Stats,PAC,SHO,PAS,DRI,DEF,PHY
count,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,...,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000
mean,226403.384794,25.194109,65.718636,71.136414,66.751726,248.938142,49.688392,45.842405,51.942726,58.768112,...,16.217187,16.519627,1595.286949,355.702197,67.453975,53.457031,57.681016,62.875020,49.866221,64.368934
std,27141.054157,4.710520,6.968999,6.114635,6.747193,74.299428,18.131153,19.567081,17.294409,14.519106,...,17.002239,17.854079,269.874789,40.761117,10.677859,13.827425,10.081857,9.927415,16.443213,9.601883
min,41.000000,16.000000,47.000000,47.000000,48.000000,42.000000,6.000000,3.000000,5.000000,7.000000,...,2.000000,2.000000,747.000000,232.000000,25.000000,16.000000,25.000000,25.000000,12.000000,28.000000
25%,210135.000000,21.000000,61.000000,67.000000,62.000000,222.000000,38.000000,30.000000,44.000000,54.000000,...,8.000000,8.000000,1452.000000,327.000000,61.000000,44.000000,51.000000,57.000000,35.000000,58.000000
50%,232418.000000,25.000000,66.000000,71.000000,67.000000,263.000000,54.000000,49.000000,55.000000,62.000000,...,11.000000,11.000000,1627.000000,356.000000,68.000000,56.000000,58.000000,64.000000,53.000000,65.000000
75%,246922.500000,29.000000,70.000000,75.000000,71.000000,297.000000,63.000000,62.000000,64.000000,68.000000,...,14.000000,14.000000,1781.000000,384.000000,75.000000,64.000000,64.000000,69.000000,63.000000,71.000000
max,259216.000000,53.000000,93.000000,95.000000,93.000000,437.000000,94.000000,95.000000,93.000000,94.000000,...,91.000000,90.000000,2316.000000,498.000000,96.000000,93.000000,93.000000,95.000000,91.000000,91.000000

In [22]:
# Check for duplicate IDs
sum(fifa_df.ID.duplicated())

0

In [47]:
#Checking if there are values that are not in cm in the height column
fifa_df[~ fifa_df.Height.str.contains('cm')].Height

793     6'2"
847     6'3"
848     6'5"
860    5'11"
861     6'4"
862     6'1"
863     6'0"
864     6'1"
865    5'11"
866     6'2"
867     6'0"
868     6'3"
869     6'0"
871    5'10"
872     5'9"
873    5'11"
874     5'6"
875     6'1"
876     6'0"
877     6'4"
878     5'7"
879     6'0"
880    5'11"
881    5'11"
883     6'0"
884    5'10"
885     6'3"
886     6'0"
887     5'4"
888    5'11"
889     5'9"
890     5'7"
891     6'0"
892    5'10"
893     6'2"
894     6'2"
895     6'3"
896     5'7"
897    5'10"
898     5'9"
Name: Height, dtype: object

In [48]:
#Checking if there are values that are not in kg in the weight column
fifa_df[~ fifa_df.Weight.str.contains('kg')].Weight

793    183lbs
847    179lbs
848    183lbs
860    172lbs
861    196lbs
862    176lbs
863    185lbs
864    179lbs
865    170lbs
866    196lbs
867    172lbs
868    203lbs
869    183lbs
871    168lbs
872    161lbs
873    146lbs
874    130lbs
875    190lbs
876    172lbs
877    174lbs
878    148lbs
879    165lbs
880    172lbs
881    161lbs
883    159lbs
884    170lbs
885    192lbs
886    181lbs
887    139lbs
888    154lbs
889    168lbs
890    170lbs
891    165lbs
892    157lbs
893    159lbs
894    181lbs
895    179lbs
896    148lbs
897    170lbs
898    163lbs
Name: Weight, dtype: object

In [51]:
# Checking the issue with the joined column
fifa_df.Joined

0         Jul 1, 2004
1        Jul 10, 2018
2        Jul 16, 2014
3        Aug 30, 2015
4         Aug 3, 2017
             ...
18974    Jul 13, 2018
18975     Aug 1, 2020
18976     Mar 8, 2019
18977    Sep 22, 2020
18978    Jul 29, 2019
Name: Joined, Length: 18979, dtype: object

In [52]:
#Checking the contents of the value column
fifa_df.Value

0        €103.5M
1           €63M
2          €120M
3          €129M
4          €132M
          ...
18974      €100K
18975      €130K
18976      €120K
18977      €100K
18978      €100K
Name: Value, Length: 18979, dtype: object

In [61]:
#Checking to see if there are any other currency in the values, Wage, and Release Clause columns
print(fifa_df[~fifa_df.Value.str.contains('€')].shape[0])
print(fifa_df[~fifa_df.Wage.str.contains('€')].shape[0])
print(fifa_df[~fifa_df['Release Clause'].str.contains('€')].shape[0])

0
0
0

<a id='obs'></a>
## Observation

**Data Type Issues**
1. The `ID` column should be *object* not *int64*
2. The columns `Height` and `Weight`, `Value`, `Wage` and `Release Clause`, `W/F`, `SM`, `IR`, `Hits` should be *int64* not *object*
3. The columns `Joined` and `Loan date end`should be *date* not *object*

**Data Content Issues**

4. Some values in the `Height` column are in feet and not cm
5. Some values in the `Weight` column are in lbs and not kg
6. The values in the `Positions` column are not sorted. Hence they appear as different values. E.g "CB, RB" and "RB, CB".
7. The `Values`and `Hits` column contains sumarized figures

<a id = 'step3'></a>
## Data Cleaning